meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible" content="IE=11")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
//- site about
meta(name="contact" content="content")
meta(name="author" content="content")
meta(name="description" content="content")
meta(name="keywords" content="web")
//- social media - Open Graph data - http://ogp.me/
meta(property="og:title" content="The best site")
meta(property="og:type" content="article")
meta(property="og:url" content="The best site")
meta(property="og:image" content="link_to_image")
meta(property="og:description" content="description goes here")
//- needed for google maps hack
meta(name="referrer" content="no-referrer")
